<div id = "backToIndex"><a href = "index.ejs">WTG</a></div>
<nav>
    <ul>
        <li><a href= "/board/plan">여행 플랜</a></li>
        <li><a href= "/board/log">여행 일지</a></li>
        <li><a href= "/board/trip">여행게시판</a></li>
        <li><a href= "/board/forum">해외 포럼</a></li>
        <li><a href= "/board/free">자유게시판</a></li>
    </ul>
</nav>
