<!DOCTYPE html>
<html>
  <head>
		<meta charset = "UTF-8">
		<title>WTG</title>
  </head>
  <body>
    <header>
  		<%- include ('./part/header.ejs') %>
  	</header>
    <section>
      <article id = "LoginLoginMenu">
        <%- include ('./part/login.ejs') %>
      </article>
    </section>
    <footer>
      <%- include ('./part/footer.ejs') %>
    </footer>
  </body>
</html>
