<%//index에서 사용됨.




//이젠 섹션에서 가져온 아이디.
String userID = null;

%>

<%
	if(session.getAttribute("userID")!=null){userID = (String) session.getAttribute("userID");}

%>
<!DOCTYPE html>
<html>
	<head>
		<title>당신의 여행이야기를 들려주세요.</title>
		<style>
			body			{	height:100%;	width: 1000px;}
			label			{display: inline-block;	width: 400px;}
			#MainConsult	{width: 1500px;	height:500px;}
		</style>
	</head>
	
	<body >
			<form action="./travelEnroll2.ejs" method="post"   ENCTYPE="multipart/form-data">
				<label >여행일자는 총 몇일인가요?</label>
				<input type = "number" name = "travelTatalSpanTime" class = "form-control" min="1" max="10" style = "width:300px"><br />
				<input type = "submit" value = "등록하기" style = "position:absolute; left:650px;">
				<a href = "./index.ejs"><input type ="button" value = "취소"style = "position:absolute; left:10px;"> </a>
			<%} %>
</html>
