<%
request.setCharacterEncoding("UTF-8");
int travelTatalSpanTime = 0;
String travelClassfy = null;
String travelTitle = null;
String travelWriter = null;
String travelContent1= null;
String travelContent2= null;
String travelContent3= null;
String travelContent4= null;
String travelContent5= null;
String travelContent6= null;
String travelContent7= null;
String travelContent8= null;
String travelContent9= null;
String travelContent10= null;

if(request.getParameter("travelTatalSpanTime") !=null) userID = Integer.parseInt(request.getParameter("travelTatalSpanTime"));
if(request.getParameter("travelClassfy") !=null)travelClassfy = (String)request.getParameter("travelClassfy");
if(request.getParameter("travelTitle") !=null)travelTitle = (String)request.getParameter("travelTitle");
if(request.getParameter("travelWriter") !=null) travelWriter = (String)request.getParameter("travelWriter");
if(request.getParameter("travelContent1") !=null) travelContent1 = (String)request.getParameter("travelContent1");
if(request.getParameter("travelContent2") !=null) travelContent2 = (String)request.getParameter("travelContent2");
if(request.getParameter("travelContent3") !=null) travelContent3 = (String)request.getParameter("travelContent3");
if(request.getParameter("travelContent4") !=null) travelContent4 = (String)request.getParameter("travelContent4");
if(request.getParameter("travelContent5") !=null) travelContent5 = (String)request.getParameter("travelContent5");
if(request.getParameter("travelContent6") !=null) travelContent6 = (String)request.getParameter("travelContent6");
if(request.getParameter("travelContent7") !=null) travelContent7 = (String)request.getParameter("travelContent7");
if(request.getParameter("travelContent8") !=null) travelContent8 = (String)request.getParameter("travelContent8");
if(request.getParameter("travelContent9") !=null) travelContent9 = (String)request.getParameter("travelContent9");
if(request.getParameter("travelContent10") !=null) travelContent10 = (String)request.getParameter("travelContent10");
{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%PrintWriter script = response.getWriter();
    if(travelTatalSpanTime ==0||travelClassfy == null||travelTitle == null|| travelWriter == null||travelContent1 == null
        ||travelClassfy.equals("")||travelTitle.equals("")||travelWriter.equals("")||travelContent1.equals("")	)
    <%{
            <a href = "/.userJoin.ejs">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

 ////////////////////////
 //////!!!!!!!!!!!!////
 //여기서 DB 검색해서 중복아이디 있나 체크.
 //중복있으면 돌려보내기.
 //DB없으면 오류인데 이건 안해도될듯.
 //중복없으면 생성
    }

    %>

    </body>
</html>
