<!DOCTYPE html>
<html>
<head>
	<meta http-equiv = "Content-Type" content="text/html" charset="UTF-8">
	<title> 회원가입페이지입니다.</title>
	<script type="text/javascript">

			function PasswordCheckFunction()
			{
				var userPassword1=$('#userPassword1').val();
				var userPassword2=$('#userPassword2').val();
				if(userPassword1!=userPassword2)		{$('#PasswordCheckMessage').html('비밀번호가 일치하지 않습니다.');}
				else									{$('#PasswordCheckMessage').html('');}
			}
		</script>
</head>
<body oncontextmenu='return false' ondragstart = "return flase" onselectstart = "return false">


	<div class = "container">
		<form action = "../userJoinAction">
			<table class = "table table-bordered table-hover" style="text-align: center;border:1px solid #dddddd">
				<thead>
					<tr>
						<th colspan="3">
							<h4>회원가입</h4>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style = "width:110px;"><h5>아이디</h5></td>
						<td colspan="2"><input type = "text" onkeyup="IDCheckFunction();" id = "userID" name = "userID" placeholder= "아이디를 입력해 주십시오."maxLength = "20"></td>
					</tr>
					<tr>
						<td style = "width:110px;"><h5>비밀번호</h5></td>
						<td colspan="2"><input type = "password" onkeyup="PasswordCheckFunction();"id = "userPassword1" name = "userPassword1" placeholder= "비밀번호를 입력하십시오."maxLength = "20"></td>
					</tr>
					<tr>
						<td style = "width:110px;"><h5>비밀번호 확인</h5></td>
						<td colspan="2"><input type = "password" onkeyup="PasswordCheckFunction();" id = "userPassword2" name = "userPassword2" placeholder= "비밀번호(확인)을 입력해주십시오."maxLength = "20"></td>
					</tr>
					<tr>
						<td style = "width:110px;"><h5>이름</h5></td>
						<td colspan="2"><input type = "text" id = "userName" name = "userName"placeholder= "이름을 입력해 주십시오." maxLength = "20"></td>
					</tr>
					<tr>
						<td style = "width:110px;"><h5>생년월일</h5></td>
						<td colspan="2"><input type = "text" id = "userBirthDate" name = "userBirthDate" placeholder= "생년월일을 입력해주십시오예) 20000101"maxLength = "8"></td>
					</tr>
					<tr>
						<td style = "width:110px;"><h5>성별</h5></td>
						<td colspan="2">
								<select name = "userGender" class =  "form-control">
									<option   value = "true" > 남자</option>
									<option value = "false" selected> 여자</option>
								</select>
						</td>
					</tr>
					<tr>
						<td style = "text-align:lefg"colspan="3">
							<input type = "submit" value = "회원가입">
							<h5 style = "color:red;" id = "IDCheckMessage"></h5>
							<h5 style = "color:red;" id = "PasswordCheckMessage"></h5>
							<a href = "/" >취소</a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>
